@page "/SuiviDev"

<p>
	Page pour le suivi du développement. Elle sera supprimée une fois que tout sera terminé.
</p>

<p>
	<h4>Terminés</h4>

	<div><span class="oi oi-task" aria-hidden="true"></span> Script pour la base de donnée</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Gestion login/MDP</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Gestion des rôles, admin, gestionnaire et agent</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Admin page, l'admin peut donner le rôle de gestionnaire.</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Paramètre pour gestionnaire : Gestion des salles</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Paramètre pour gestionnaire : Gestion du catalogue de formation</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Ajout de la propriété "Est une formation interne ?"</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Paramètre pour gestionnaire : Gestion des formateurs</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Paramètre pour gestionnaire : Gestion des sessions</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Page pour que l'agent puisse s'inscire à une session</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Page d'accueil, avec calendrier des prochaines sessions</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> La page profil de l'utilisateur, ou il est inscrit, formations suivis,...</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Page pour que l'agent puisse noter la session, avec un commentaire</div>
</p>

<p>
	<h4>En cours de développement</h4>
	<div><span class="oi oi-target" aria-hidden="true"></span> Page de la fin de session, ajout de la feuille d'émargement, et validation session pour les agents</div>
</p>

<p>
	<h4>Reste à développer</h4>

	<div>Je réfléchis !</div>
</p>

@code {

}
